.App {
  text-align: center;
  border-width: 5px;
  border-left-style: dashed;
  border-right-style: dashed;
  padding:0;
  color: #F9F3E6;
  background-color: #E7C06C;
  /* background-color: #fdf1b8; */
  border-color: #B9913B;
}

.logo{
  width: 90%;
  height: auto;
}
.navbar-links-zone{
  justify-content: space-between;
  width: 100%;
}
.link-button{
  text-decoration:none;
  cursor: pointer;
  color: #F9F3E6;
}
.navbar-icons-zone{
  justify-content: space-around;
}

@media only screen and (max-width : 991px) {
  #logo-zone{
    height: 50vh;
  }
  .logo{
    height: 50vh;
  }
  .navbar-links-zone{
    padding-top: 2%;
    padding-bottom: 2%;
    width: auto;
  }
  .navbar-icons-zone{
    justify-content: center;
  }
  .navbar-icon{
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .link-button{
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .google-map-column{
    padding-bottom: 10%;
  }
}

.a-white{
  color: #F9F3E6;
  text-decoration-color: none;
}

.App-link {
  color: #F9F3E6;
}

h3{
  padding-top:3%;
  padding-bottom: 3%;
}

hr{
  border-color: #B9913B !important;
}

#nav-zone{
  background-color: #DCB768;
}