
.App {
  text-align: center;
  border-width: 5px;
  border-left-style: dashed;
  border-right-style: dashed;
  padding:0;
  color: #02121c;
  background-color: #F7F7F7;
  border-color: #0a73b8;
  font-family: 'Robo-Light' !important;
  padding-bottom: 3%;
}

.dotted-background{
  background-image: radial-gradient(white 5px, transparent 0);
  background-size: 45px 45px;
  background-position: 100% 100%;
}

.card-home{
  background-color: rgba(240,249,255,0.5) !important;
  min-height: 100%;
}

.navbar-links-zone{
  justify-content: space-between;
  width: 100%;
}

.link-button{
  text-decoration:none;
  cursor: pointer;
  color: #02121c;
  font-family: 'Robo-Light' !important;
  padding-top:3%;
}
.link-button:hover{
  text-decoration: underline;
}


.link-button:hover{
  color: #02121c
}

.navbar-icons-zone{
  justify-content: space-around;
}
@media only screen and (max-width : 991px) {
  .logo{
    height: 50vh;
  }
  .navbar-links-zone{
    padding-top: 2%;
    padding-bottom: 2%;
    width: auto;
  }
  .navbar-icons-zone{
    justify-content: center;
  }
  .navbar-icon{
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .link-button{
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .google-map-column{
    padding-bottom: 10%;
  }
  #nav-zone{
    position: relative;
    float: none;
  }
  
}
@media only screen and (max-width : 257px) {
  #title-zone{
    display: none;
  }
}


.a-white{
  color: #02121c;
  text-decoration-color: none;
  font-family: 'Robo-Light' !important;
}

h3{
  padding-top:3%;
  padding-bottom: 3%;
  font-family: 'Robo-Medium' !important;
}

hr{
  border-color: #0a73b8 !important;
}

#nav-zone{
  background-color: #f0f9ff;
}

#footer-zone{
  background-color: #0a73b8;
  color: #F7F7F7;
  font-family: 'Robo-Light' !important;
}

#home-zone{
  padding-top: 2%;
  padding-bottom: 2%;
}