@font-face {
  font-family:'Louis';
  src: local('Louis-George-Café'), url(./fonts/Louis-George-Cafe.ttf) format('truetype');
  
  font-family:'Louis-Light';
  src: local('Louis-George-Café-Light'), url(./fonts/Louis-George-Cafe-Light.ttf) format('truetype');
}

body {
  padding: 0;
  background-color: #FFEBB2 !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
